/.vscode
/1.qq_plot.png
/2.ecdf.png
/2.ecdf_ปลอม.png
/3.kde.png
/box_plot.png
/data.csv
/data.xlsm
/dumbell-v-1.png
/dumbell_log-v-1.png
/korat_map
/ks_test.png
/lands_avg_price.py
/lands_korat.csv
/lands_korat.txt
/lands_korat.xlsm
/lands_korat.xlsx
/map.png
/OpenGISData-Thailand-master
/OpenGISData-Thailand-master.zip
/plot-v-1.gif
/plot-v-1.png
/plot-v-2-1.png
/plot-v-2.png
/ready_to_decorate.py
/scatter.png